@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB;
  --foreground: #111827;

  --card-bg: #eeeeee;
  --progress-bg: #d8d8d8;
  --progress-line: #b8b8b8;
  --muted: #6B7280;
  --border: #dadada;

  --primary: #DB2777;
  --primary-hover: #BE185D;

  --accent: #3B82F6;
  --accent-hover: #2563EB;

  --button-text: #FFFFFF;
  --link: #DB2777;
}

[data-theme='dark'] {
  --background: #0A0A0A;
  --foreground: #EDEDED;

  --card-bg: #1A1A1A;
  --progress-bg: #252525;
  --progress-line: #323232;
  --muted: #9CA3AF;
  --border: #2D2D2D;

  --primary: #DB2777;
  --primary-hover: #F472B6;

  --accent: #60A5FA;
  --accent-hover: #3B82F6;

  --button-text: #FFFFFF;
  --link: #DB2777;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}