.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 80%; /* Default slide covers 80% of the viewport */
  min-width: 0;
  margin-inline-end: 10px; /* Space after the slide */
  margin-inline-start: 10px; /* Space before the slide */
}

.embla__slide__img {
  max-height: 100px; /* or whatever max height you want */
  width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
  